@import "tailwindcss";

@import './assets/css/base.css';

* {
  box-sizing: border-box;
  font-family: Arial;
}

.typography {
  font-size: var(--text-base);
  color: var(--color-gray-700);
}



.page-wrap {
  margin: auto;
  max-width: 800px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
